<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>Smart To Do</title>
</head>
{% endblock %}
<body>
{% block menu %}
{% if user.is_authenticated %}
    Logged name as {{ user.username }}
    <br>
    <a href="{% url 'mainPage' %}">Home</a>
    <br>
<form action="{% url 'log_out' %}" method="post">
    {% csrf_token %}
    <button type="submit">logout</button>
    <br>
    <a href="{% url 'current_todos' %}">Current Todos</a>
</form>
{% else %}
<a href="{% url 'mainPage' %}">Home</a>
<br>
<a href="{% url 'sign_up' %}">Sign up</a>
<br>
<a href="{% url 'log_in' %}">Log in</a>
{% endif %}
{% endblock %}

{% block content %}

{% endblock %}
{% block footer %}
<footer>
    <p>Footer</p>
</footer>
{% endblock %}
</body>
</html>
